<template name="projects">
	{{>projectForm}}
	<div class="container">
		<div>
			<p>
				<h1>Project:<small>Make Some Projects Here :D </small></h1>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Description</th> <!--** Match-->
								<th>Location</th>
								<th>Post Date</th>
								<th>Post Ends</th>
								<th>Time Left</th>
								<th>Budget</th>
								<th>Bid To Close</th>
								<th>Current Lowest Bid</th>
							</tr>
						</thead>
						<tbody>
							{{#each projectList}}
								{{> projectRow}}
							{{/each}}
						</tbody>
					</table>
				</div>
			</p>
		</div>
	</div>
</template>


<template name ="projectRow">
	<tr class="projectRow">
		<td>{{description}}</td> <!--** Match-->
		<td>{{location}}</td>
		<td>{{date}}</td>
		<td>{{endDate}}</td>
		<td>{{timeLeft}}</td>
		<td>{{budget}}</td>
		<td>{{bidToClose}}</td>
		<td>{{currentLowestBid}}</td> <!--Implement-->
		<td>{{> biddingModal}}</td>
  	</tr>
</template>



<template name ="projectForm">
<div class ="modal=footer">
	<a class="btn btn-primary" data-toggle="modal" href='#modal-id0'>Post a Project</a>
	<div class="modal fade" id="modal-id0">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add Project</h4>
				</div>
				<div class="modal-body">

				    <div><label for="Description">Project Description:</label></div>
					<div class = "input-group">
						<span class="input-group-addon"></span>
					<input type="text" class="form-control description" name="Description" value="" id="">
					</div>

					<div>
					<label for="name">Location:</label>
					</div>
					<div class="input-group">
					<span class="input-group-addon"></span>
						<input type="text" class="form-control location" name="name" value="" id=""/>
					</div>

					<div>
					<label>End Date</label>
					</div>
					<div class="input-group datetimepicker">
					    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					    <input class="set-due-date form-control endDate" placeholder="mm/dd/yyyy" type="text"/>
					</div>

					<div><label for="name">Budget:</label></div>
					<div class="input-group">
  						<span class="input-group-addon">$</span>
  						<input type="text" class="form-control budget" aria-label="Amount (to the nearest dollar)">
  						<span class="input-group-addon">.00</span>
					</div>

					<div><label for="name">Bid to Close:</label></div>
					<div class="input-group">
  						<span class="input-group-addon">$</span>
  						<input type="text" class="form-control bidToClose" aria-label="Amount (to the nearest dollar)">
  						<span class="input-group-addon">.00</span>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary save">Save changes</button>
					<button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
</template>


<template name= "biddingModal">
	<a class="btn btn-success" data-toggle="modal" href='#modal-id1'>Place a Bid</a>
	<div class="modal fade" id="modal-id1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Please Carefully Choose Your Bid.</h4>
				</div>
				<div class="modal-body">
					
	   				<div><label for="name">Bid Amount:</label></div>
					<div class="input-group">
  						<span class="input-group-addon">$</span>
  						<input type="text" class="form-control bidAmount" aria-label="Amount (to the nearest dollar)">
  						<span class="input-group-addon">.00</span>
					</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-success">Confirm</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				</div>
			</div>
		</div>
	</div>

</template>
