<template name="projects">
	{{>projectForm}}
	<div class="container">
		<div>
			<p>
				<h1>Project:<small>Post Projects Here</small></h1>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Description</th>
								<th>Post Date</th>
								<th>Location</th>
								<th>Budget</th>
								<th>Current Bid</th>
								<th>Take the Contract Now</th>
								<th>Time Left</th>
							</tr>
						</thead>
						<tbody>
							{{#each projectList}}
								{{> projectRow}}
							{{/each}}
						</tbody>
					</table>
				</div>
			</p>
		</div>
	</div>
</template>


<template name ="projectRow">
	<tr class="projectRow">
		<td>{{description}}</td>
		<td>{{postDate}}</td>
		<td>{{location}}</td>
		<td>{{budget}}</td>
		<td>{{currentBid}}</td>
		<td>{{takeTheContractNow}}</td>
		<td>{{timeLeft}}</td>
	</tr>

</template>

<template name ="projectForm">
<div class ="modal=footer">
	<a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Post a Project</a>
	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add Project</h4>
				</div>
				<div class="modal-body">
					<div>
					<label for="Description">Project Description:</label>
					</div>
					<input type="text" class="input input-xlarge Description" name="Description" value="" id="">

					<div>
					<label for="Date">Date:</label>
					</div>
					<input type="text" class="input class =input-xlarge Date" name="Date" value="" id="">
					<div>
					<label for="name">Location:</label>
					</div>
					<input type="text" class="input input-xlarge name" name="name" value="" id="">

					<div>
					<label for="name">Budget:</label>
					</div>
					<input type="text" class="input input-xlarge name" name="name" value="" id="">

					<div>
					<label for="name">Current Bid:</label>
					</div>
					<input type="text" class="input input-xlarge name" name="name" value="" id="">

					<div>
					<label for="name">Bid to Close:</label>
					</div>
					<input type="text" class="input input-xlarge name" name="name" value="" id="">

					<div>
					<label for="name">Time Left:</label>
					</div>
					<input type="text" class="input input-xlarge name" name="name" value="" id="">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary save">Save changes</button>
					<button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
</template>
